{% extends "base.html" %}

{% block content %}

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        </a>
      </header>
  
      <div class="row align-items-md-stretch">
        <div class="container-fluid py-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>This trap does not exist</h2>
            <p>Try logging in or <a href="/">go to the homepage.</a> Or select a trap that does exist <a href="/mijnVallen">here.</a></p>
            <br>
          </div>
        </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}